
img {  
	border-style: none;
}

#header {
	/*   background: #0f0; */
	width: 100%;
	min-height: 10em;
/* 	display: table-cell; */
	vertical-align: middle 
}

#menu {
	/*position: relative;
	top: 20px;
	left: 10px;*/
	float: left;
	/*width: 19%;*/
/* 	height: 500px; */
}

#content {
	/*position: relative;
	top: -200px;
	left: 0px;*/
	float: right;
	width: 85%;
/* 	height: 500px; */
}

#footer {
	/*position: relative;
	top: 10px;*/
	text-align:center
	width: 100%;
	clear: both;
}


p { text-align: center }

